body {
    font-family: 'Arial', sans-serif;
    background-color: #a1c8ba;
    color: #333;
    margin: 0;
    padding: 0 15%;
}
.container {
    margin: 0 auto;
    padding: 2%;
}
.title {
    color: #4c3e57;
    text-align: center;
    margin-bottom: 3px;
}
.subtitle {
    color: #876a98;
    text-align: center;
    margin-bottom: 15px;
}
.plans {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column-reverse;
}
.plan {
    background-color: #cae8dc;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.plan:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(153, 0, 255, 0.15);
}
.plan .title {
    font-size: 20px;
    font-weight: bold;
    color: #4c3e57;
}